#tab-bar.demo {
    display: flex;
    flex-direction: column;
}
#tab-bar .demoName {
    height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
}
.home .iconfont {
    font-size: 20px;
}
.home .am-tab-bar-bar {
    position: fixed;
    bottom: 0;
}
  